@import "./colors";
@import "./normalize";
@import "./progressbar";
@import "./table";
@import "./node-list";
@import "./empty-state";
@import "./form";
@import "./utils";

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: .75rem;
  line-height: 1;

  background-color: lighten($grey, 20);
  border-radius: 5px;
  padding: 10px;
}​

.container {
  min-height: 100vh;
  margin: auto;
  line-height: 1.5;
}

.flex-grid {
  height: 100%;
  min-height: 100vh;
  display: flex;
  margin: auto;
}

.sidebar {
  flex: 1;
  padding-top: 1rem;
  margin: 1rem;
}

.sidebar-content {
  border-radius: .25rem;
  height: 75vh;
  overflow: scroll;
  border: 1px solid lighten($grey, 20);
}

.sidebar-controls {
  border-bottom: 1px solid lighten($grey, 20);
  margin-bottom: .5rem;
}

.content-center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
}

.main {
  padding: 1rem;
  flex: 3;
}

.plugin-selected {
  color: $white;
  padding: 1rem;
  margin: 1rem;
  background-color: darken($grey, 50);
}

.plugin-selected--clear {
  color: $white;
  float: right;
  border-radius: 5px;
  box-shadow: none;
  background-color: transparent;
  outline: 0;
  border: 2px solid $white;
}

.plugin-selected--clear:hover {
  color: darken($grey, 50);
  background-color: $white;
}
