@import "theme/variables";
@import "ember-bootstrap/bootstrap";
@import "prism-vs";
@import "empty-state";

.sidebar {
  padding: 0;
  border-right: 1px solid #c7c8c8;
}

.nav-item svg {
  font-size: 1.25rem;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: .75rem;
}

pre {
  white-space: pre-wrap;
}

pre code {
  word-break: break-word;
}

mark {
  background-color: var(--orange);
}

.list-group-item-action-active {
  border-left: 5px solid var(--primary)
}
.text-break { word-break: break-word !important; }
