@import "./colors";

.node-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
}

.node-list--items {
  position: relative;
  display: block;
  margin-bottom: -1px;
  border-bottom: 1px solid lighten($grey, 20);
}

.node-list--items a {
  display: block;
  padding: .75rem 1.25rem;
}

.node-list--items a.active {
  border-left: 5px solid darken($grey, 50);
}

.node-list--items a {
  color: black;
  text-decoration: none;
}

.node-list--items a:visited {
  color: black;
}

.node-list--items-header {
  padding: .75rem 1.25rem;
  background-color: darken($grey, 50);
  border-bottom: 2px solid lighten($grey, 20); 
  color: $white;
}

.node-list--search {
  margin: 0 auto;
  width: fit-content;
}

.node-list--search input {
  display: block;
  width: auto;
  padding: .375rem .75rem;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid lighten($grey, 10);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
