@import "./colors";

.progressbar {
  width: 90%;
  margin: 1rem auto;
  border-radius: .25rem;
}

.progressbar--building {
  background-color: $unknown;
  border: 1px solid darken($unknown, 25);
}

.progressbar--complete {
  background-color: $success;
  border: 1px solid darken($success, 25);
}
