@import "./colors";

.progressbar {}

.progressbar--building {
  background-color: $unknown;
  border: 1px solid darken($unknown, 25);
}

.progressbar--complete {
  background-color: $success;
  border: 1px solid darken($success, 25);
}
