@import "./colors";

.search-results {}

.search-results--header {
  margin-bottom: 0;
}

.search-results--header a {
  color: darken($grey, 50);
}

.search-results--property {
  font-style: italic;
}

.search-results--stringValue {}
.search-results--stringValue pre {
  border-radius: 0;
}
