@for $i from 0 through 4 {
  .p#{$i} {
    padding: ($i * 4) + px !important;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.height-fill {
  height: 100%;
}
