<div class="navbar">
  <div class="navbar-content">
    <div class="navbar--search">
      <input
        type="text"
        placeholder="Search"
        {{on "change" this.search}}
      />
      <FaIcon @icon="binoculars" @size="1x"/>
    </div>

    <div class="flex-1 text-right">
      <LinkTo @route="dashboard" class="display-inline-block text-center">
        <div class="display-block">
          <FaIcon @icon="chart-line" @size="1x"/>
        </div>

        Dashboard
      </LinkTo>
    </div>
  </div>
</div>
